[defaults]

# Use local hosts file in the same folder
inventory = ./hosts

# Don't worry about RSA Finderprints
hosts_key_checking = False

# Do not create .retry files on job failure
retry_files_enabled = False

# Do not gather facts
gathering = explicit

# Change Python Interpreter for Ansible 2.8 onwards
interpreter_python = /usr/bin/python3

# Forks - the number of concurrent sessions Ansible will use (default is 5, changing to 1 will Ansible connect to devices in the order they are listed in the inventory)
forks = 1

